html,
body{
    height: 100%;
    line-height: 1;

}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #D6DDDD;
    margin-left: 0;
    margin-right: 0;
}
.text-center{
    background-color:#D6DDDD;
    margin: auto;
    margin-top: 30px;
}
a{
    margin: 7px;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}
.header__col{
    margin-left: 40px;
}